__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/
ENV/
*.log

passwords.db
secret.key
Exported.json

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.code-workspace

*.bak
*.tmp
*.swp
*.old
